.create-account {
    margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.select-menu .select-btn {
    display: flex;
    height: 40px;
    background: #fff;
    padding: 20px;

    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option .option-text {

    color: #333;
}

.select-menu1 .select-btn1 {
    display: flex;
    height: 40px;
    background: #fff;
    padding: 20px;

    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.select-btn1 i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu1.active .select-btn1 i {
    transform: rotate(-180deg);
}

.select-menu1 .options1 {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu1.active .options1 {
    display: block;
}

.options1 .option1 {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options1 .option1:hover {
    background: #F2F2F2;
}

.option1 .option-text1 {

    color: #333;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.form-check {
    display: flex;
    justify-content: center;

}

.form-check-input {
    margin-right: 10px;
    /* Adds space between the checkbox and the label */
}